################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/LeetCodeTasks/.vs/LeetCodeTasks
/LeetCodeTasks/LeetCodeDailyConsoleApp/bin/Debug
/LeetCodeTasks/LeetCodeDailyConsoleApp/obj/Debug
